[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
referencing = "*"
jsonpath-ng = "*"
rpdvalidator = {path = "./dist/rpdvalidator-1.0.1-py3-none-any.whl"}

[dev-packages]
twine = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
